{% extends '@Foodos/Admin/main.layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{  asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/vendors/jqvmap/dist/jqvmap.min.css"') }} rel="stylesheet"/>
    <link href="{{  asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{%  endblock stylesheets %}
{% block body_class %}nav-md{% endblock body_class %}


{% block main %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Manage Product</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="cat-vue">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Products <small>Manage Products</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="product-list">
                            {% for product  in products %}
                                <li>{{ product.title|e }}</li>
                            {% endfor %}
                        </div>

                        {{ form_start(form) }}

                        {% for ingredient in form.ingredients %}
                            <li>{{ form_row(ingredient.title) }}</li>
                        {% endfor %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

{% endblock main %}



